<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Signature:</strong>
  <%= @user.signature_id %>
</p>


<%= link_to 'Upload document', new_file_attachment_path %> |
<%= link_to 'Create new request', users_path %> |
<%= link_to 'My requests', users_path %> |
<%= link_to 'Requested to me', users_path %> |
<%= link_to 'Edit / Upload Signature', edit_user_path(@user) %> |
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
